<p id="notice"><%= notice %></p>

<p>
  <b>Starts at:</b>
  <%= @event.starts_at %>
</p>

<p>
  <b>Ends at:</b>
  <%= @event.ends_at %>
</p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>


<div> <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-inverse' %><%= link_to 'Back', events_path, class: 'btn btn-inverse' %>

<p>
<p>
<%= link_to 'Delete Event', (@event), :data => { :confirm => "Are you sure?" }, :method => :delete, class: 'btn btn-inverse' %>
</div>