<!DOCTYPE html>
<html>
<head>
  <title>Plann.ed</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "darkstrap.css" %>


  <%= stylesheet_link_tag "fullcalendar.css" %>
  <%= stylesheet_link_tag "fullcalendar.print.css" %>
  <%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "jquery.rest.js" %>
  <%= javascript_include_tag "rails.js" %>
  <%= javascript_include_tag "application.js" %>
  <%= javascript_include_tag "bootstrap.js" %>
  <%#= javascript_include_tag "application" %>


  <%= javascript_include_tag :defaults %>
  
  <!-- these are needed for the calendar. -->
  <%= javascript_include_tag "jquery-ui-1.8.11.custom.min.js" %>

  <%= javascript_include_tag "fullcalendar.js" %>
  <%= javascript_include_tag "calendar.js" %>

  <%= csrf_meta_tags %>

  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
</head>
<body>
	<div class="navbar navbar-invers">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <!-- <a class="brand" href="">Plann.ed</a> -->
      <%= link_to 'Plann.ed', root_path, class: 'brand' %>
      <div class="nav-collapse">
        <ul class="nav">
          <% if user_signed_in? %>
            <a style= "position: right">
                <%= current_user.email %>
                <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'btn btn-danger' %>
          <% end %></a>

          <div></div>
        </ul>

      </div>
    </div>
  </div>
</div>
<div class = "container">

  <p class="notice"><%= notice %></p>
  <!-- <p class="alert"><%= alert %></p> -->

<%= yield %>



</body>

</html>